#header 	{
	background: transparent url(../../images/foodsplosion.png) center center no-repeat;
	background-size: 500px auto;
	margin: -55px 0 -25px;

	a 	{
		img 	{
			border: 0;
		}

		&.logo 	{
			display: block;

			img 	{
				display: block;
				margin: 0 auto;
				width: 272px;
				height: 192px;
			}
		}
	}
}