.home 	{

	#intro	{
		display: inline-block;
		vertical-align: top;

		width: 50%;
		max-width: 480px;
		min-width: 320px;

		//background: rgba(0,0,0,0.5);

		.panel 	{
			height: 155px;

			background: #DDD url(../../assets/city.jpg) center center no-repeat;
		}
	}

	.step 	{
		@include panel;
		margin: 10px 0 0;
		padding: 35px 20px 15px;
		text-align: center;

		h3 	{
			margin: 0;
			font-size: 18px;
			//border: $border;
			//background: #000;

			//@include comic-text-strong;
			//font-size: 18px;
			//color: $accent;
			text-align: left;
		}
		input[type=text], input[type=email] 	{
			width: 100%;
			margin: 0 0 10px;
		}
		a.button	{
			display: block;
			width: 60%;
			max-width: 150px;

			margin: 0 auto;
			font-size: 18px;
		}
		form 	{
			div.field 	{
				width: 50%;
				float: left;
				text-align: left;

				&.category 	{
					padding-left: 15px;

					font-size: 12px;
					font-weight: bold;

					select 	{
						margin: 5px 0;
						font-size: 14px;
					}
				}
			}
		}
		.actions 	{
			clear: both;
		}
	}

	#step1 	{
		display: inline-block;
		vertical-align: top;

		width: 49%;
		min-width: 320px;
		max-width: 480px !important;

		height: 155px;
	}

	#step2, #step3 	{
		display: none;
	}

	@media screen and (max-device-width: 320px) {
		#intro .panel 	{
			height: 130px !important;
		}
		.step 	{
			width: 320px !important;
			margin: 10px !important;
			padding: 35px 10px 10px;
		}
		#step1 	{
			min-width: 300px !important;
			width: 300px !important;
			height: auto;

			.field 	{
				float: none;
				width: 100%;
				padding: 0 !important;
				font-size: 14px;

				select 	{
					width: 100%;
					font-size: 18px;
				}
			}
		}
	}
}