<div id="content" class="home">
	<div id="intro">
		<div class="city-intro panel vancouver">
			<p class="narrate top left">
				In the city of <strong><!-- <%= @location %> --> Vancouver</strong>...
			</p>
			<p class="narrate bottom right emphasis">
				A group of friends can't decide where to eat...
			</p>
		</div>
	</div>

	<div id="step1" class="process step search">
		<h3 class="narrate top left dark">Select your first challenger:</h3>

		<%= render 'form' %>
	</div>
</div>



