<div id="content" class="home vancouver">

	<div id="intro" class="grid_3">
		<p class="narrate top left">
			In the city of <strong>Vancouver</strong>...
		</p>
		<div class="col panel panel1">
		</div>
		<div class="col panel panel2 nomobile">
		</div>
		<div class="col panel panel3 nomobile">
		</div>
		<p class="narrate bottom right emphasis">
			A group of friends can't decide where to eat...
		</p>
	</div>

	<div id="step1" class="process step search">
		<h3 class="narrate top left dark">Select your first challenger:</h3>

		<%= render 'form' %>
		
		<div id="results">
		  <%= render :partial => "restaurants/restaurant", :collection => @search.response, :as => :restaurant if @search.response %>
		</div>
	</div>
</div>



