/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 44, sass/modules/_defaults.scss */
h1, h2, h3, h4, h5 {
  margin: .65em 0;
  font-family: "Permanent Marker", cursive;
  font-style: italic;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 50, sass/modules/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* line 57, sass/modules/_defaults.scss */
body {
  background: #333333 url(../../assets/bg-page.png) top center repeat-x;
  font-family: "Arial", sans-serif;
}

/* line 63, sass/modules/_defaults.scss */
a {
  text-decoration: none;
}

/* line 67, sass/modules/_defaults.scss */
input[type=text], input[type=password], input[type=email] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #FFF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 3px solid black;
  font-size: 14px;
}

/* line 78, sass/modules/_defaults.scss */
a.button, button, input[type=submit] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px;
  -webkit-appearance: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background: #dd0000;
  border: 3px solid black;
  font-family: "Walter Turncoat", cursive;
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  color: #FFF;
}

/* line 91, sass/modules/_defaults.scss */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* line 97, sass/modules/_defaults.scss */
.panel {
  position: relative;
  display: block;
  background: #FFF;
  border: 3px solid black;
  min-height: 100px;
  margin: 10px;
}

/* line 102, sass/modules/_defaults.scss */
.narrate {
  position: absolute;
  display: block;
  padding: 5px 8px;
  background: #FFF;
  border: 3px solid black;
  font-family: "Walter Turncoat", cursive;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  max-width: 90%;
}
/* line 106, sass/modules/_defaults.scss */
.narrate.top {
  top: -10px;
}
/* line 109, sass/modules/_defaults.scss */
.narrate.bottom {
  bottom: -10px;
}
/* line 112, sass/modules/_defaults.scss */
.narrate.right {
  right: -10px;
}
/* line 115, sass/modules/_defaults.scss */
.narrate.left {
  left: -10px;
}
/* line 118, sass/modules/_defaults.scss */
.narrate strong {
  color: #dd0000;
}
/* line 121, sass/modules/_defaults.scss */
.narrate.emphasis {
  background: #dd0000;
  color: #FFF;
}
/* line 125, sass/modules/_defaults.scss */
.narrate.dark {
  background: #000;
  color: #dd0000;
}

/* line 1, sass/modules/_header.scss */
#header {
  background: transparent url(../../assets/foodsplosion.png) center center no-repeat;
  background-size: 700px auto;
  margin: -55px 0 -25px;
}
/* line 7, sass/modules/_header.scss */
#header a img {
  border: 0;
}
/* line 11, sass/modules/_header.scss */
#header a.logo {
  display: block;
}
/* line 14, sass/modules/_header.scss */
#header a.logo img {
  display: block;
  margin: 0 auto;
  width: 272px;
  height: 192px;
}

/* line 1, sass/modules/_footer.scss */
#footer {
  width: 100%;
  text-align: center;
}
/* line 5, sass/modules/_footer.scss */
#footer a, #footer a:visited {
  color: #dd0000;
  font-weight: bold;
}
/* line 9, sass/modules/_footer.scss */
#footer a:hover {
  color: #F00;
}
/* line 12, sass/modules/_footer.scss */
#footer ul {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 12px;
}
/* line 18, sass/modules/_footer.scss */
#footer ul li {
  display: inline;
  padding: 0 10px;
}

/* line 3, sass/pages/_home.scss */
.home #intro {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  max-width: 480px;
  min-width: 320px;
}
/* line 13, sass/pages/_home.scss */
.home #intro .panel {
  height: 155px;
  background: #dddddd url(../../assets/city.jpg) center center no-repeat;
}
/* line 20, sass/pages/_home.scss */
.home .step {
  position: relative;
  display: block;
  background: #FFF;
  border: 3px solid black;
  margin: 10px 0 0;
  padding: 35px 20px 15px;
  text-align: center;
}
/* line 26, sass/pages/_home.scss */
.home .step h3 {
  margin: 0;
  font-size: 18px;
  text-align: left;
}
/* line 37, sass/pages/_home.scss */
.home .step input[type=text], .home .step input[type=email] {
  width: 100%;
  margin: 0 0 10px;
}
/* line 41, sass/pages/_home.scss */
.home .step a.button {
  display: block;
  width: 60%;
  max-width: 150px;
  margin: 0 auto;
  font-size: 18px;
}
/* line 50, sass/pages/_home.scss */
.home .step form div.field {
  width: 50%;
  float: left;
  text-align: left;
}
/* line 55, sass/pages/_home.scss */
.home .step form div.field.category {
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold;
}
/* line 61, sass/pages/_home.scss */
.home .step form div.field.category select {
  margin: 5px 0;
  font-size: 14px;
}
/* line 68, sass/pages/_home.scss */
.home .step .actions {
  clear: both;
}
/* line 73, sass/pages/_home.scss */
.home #step1 {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  min-width: 320px;
  max-width: 480px !important;
  height: 155px;
}
/* line 84, sass/pages/_home.scss */
.home #step2, .home #step3 {
  display: none;
}
@media screen and (max-device-width: 320px) {
  /* line 89, sass/pages/_home.scss */
  .home #intro .panel {
    height: 130px !important;
  }
  /* line 92, sass/pages/_home.scss */
  .home .step {
    width: 320px !important;
    margin: 10px !important;
    padding: 35px 10px 10px;
  }
  /* line 97, sass/pages/_home.scss */
  .home #step1 {
    min-width: 300px !important;
    width: 300px !important;
    height: auto;
  }
  /* line 102, sass/pages/_home.scss */
  .home #step1 .field {
    float: none;
    width: 100%;
    padding: 0 !important;
    font-size: 14px;
  }
  /* line 108, sass/pages/_home.scss */
  .home #step1 .field select {
    width: 100%;
    font-size: 18px;
  }
}
