<!DOCTYPE html>
<html>
<head>
	<title>Food Fight! Two restaurants enter, only one restaurant leaves! What you want to have for lunch?</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Walter+Turncoat' rel='stylesheet' type='text/css'>
	
	<!--<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>

<div class="container">

	<div id="header">
		<a href="/" class="logo"><img src="../../assets/logo.png" alt="Food Fight!" /></a>
	</div>
	<%= yield %>
	<div id="footer">
		<ul>
			<li><a href="">About this App</a></li>
			<li>&copy; 2012 Derp.</li>
		</ul>
	</div>
</div>

</body>
</html>
